<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="Sequence Player"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <activity
            android:name=".MainActivityV14"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityV13"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityV15"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityV16"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivityV17"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
